
torch==1.12.1
torchaudio

transformers
datasets
soundfile
librosa
plotly
jiwer
pydub
click
pytorch_lightning
torchmetrics

git+https://github.com/davidavdav/WordErrorRate.py.git
git+https://github.com/bsxfan/PYLLR.git